<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="testes/bootstrap.php" colors="true">
    <php>

    </php>

    <testsuites>
        <testsuite name="Hello World Test Suite">
            <directory>./testes/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./testes</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
