<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Testes/bootstrap.php" colors="true">
    <php>

    </php>

    <testsuites>
        <testsuite name="Hello World Test Suite">
            <directory>./Testes/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Testes</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
